body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #011F3F;
    margin-top: 70px;
}

h1{
    text-align: center;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    
}
#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
}

#blue{
    background-color: blue;
}

#red{
    background-color: red;
}


button{
    width: 100px;
    height: 50px;
    margin-bottom: 50px;
}

.btn-container{
    border-radius: 10%;
    border: 10px solid black;
    
    width: 200px;
    height: 200px;
}

.white-border{
    box-shadow: 0px 0px 20px 10px white;
}

.green-border{
    box-shadow: 0px 0px 20px 10px green;
}

.red-border{
    box-shadow: 0px 0px 20px 10px red;
}



@media(max-width: 600px){
    .btn-container{
        width: 150px;
        height: 150px;
    }
}

@media(max-width: 550px){
    .btn-container{
        width: 100px;
        height: 100px;
    }
}

@media(max-height: 601px){
    .btn-container{
        width: 100px;
        height: 100px;
    }
}

